body {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px; }

h1,
h2,
h3,
h4 {
  font-weight: lighter;
  letter-spacing: 1.2px;
  text-rendering: optimizeLegibility; }

h1,
h2 {
  color: #ff2558; }

.header {
  margin-top: 50px; }
  .header__logo {
    display: block;
    margin: 0 auto;
    width: 200px; }
  .header__title {
    margin-bottom: 3rem;
    text-align: center; }

input {
  padding: 5px 10px;
  width: 43%; }
  input:last-child {
    float: right; }

.react-calendars {
  margin-bottom: 20px; }

.code-snippet {
  margin-top: 1rem; }
  .code-snippet__arrow {
    display: inline-block;
    height: 0;
    width: 0; }
    .code-snippet__arrow--right {
      border: 6px solid transparent;
      border-left-color: #aaa; }
    .code-snippet__arrow--up {
      border: 6px solid transparent;
      border-bottom-color: #aaa;
      margin-bottom: 3px;
      margin-right: 6px; }
  .code-snippet__toggle-button {
    color: #ff2558;
    text-decoration: none; }
    .code-snippet__toggle-button:hover {
      color: #d80033; }

.footer {
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 0; }
  .footer__links {
    text-align: center; }
  .footer__link {
    color: #ff2558;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none; }

.ofs-credit {
  margin-bottom: 1rem; }
  .ofs-credit__text {
    color: #999;
    margin: 0 0 .5rem;
    text-align: center; }
  .ofs-credit__logo {
    display: block;
    margin: 0 auto;
    width: 200px; }

.features {
  overflow: hidden; }
  .features__point {
    font-weight: 200;
    margin-bottom: .5rem; }

.install {
  overflow: hidden; }

.examples {
  overflow: hidden; }

.example {
  margin-bottom: 1rem;
  overflow: hidden; }
  .example h4 {
    margin-top: 0; }

.singleDateRange .DateRangePicker {
  float: left;
  width: 50%; }

.singleDateRange .quickSelection {
  float: right;
  width: 50%;
  padding-top: 75px; }
  .singleDateRange .quickSelection__selection {
    width: 100px;
    padding: 6px;
    margin: 0 auto 15px;
    display: block;
    float: none; }

.rangeDateContainer .quickSelection {
  padding-top: 10px; }
