.reactDaterangePicker {
  display: inline-block;
  position: relative;
  padding: 0 30px;
  margin-bottom: 10px; }
  .reactDaterangePicker__pagination {
    display: block;
    cursor: pointer;
    position: absolute;
    outline: none;
    border: 0;
    padding: 0;
    background-color: #E4E4E4;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-bottom: 5px;
    width: 30px; }
    .reactDaterangePicker__pagination--previous {
      left: 0; }
    .reactDaterangePicker__pagination--next {
      right: 0; }
    .reactDaterangePicker__pagination:hover {
      background-color: #CCC; }
  .reactDaterangePicker__arrow {
    position: absolute;
    top: 48%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; }
    .reactDaterangePicker__arrow--previous {
      right: 11px;
      border-left: 8px solid transparent;
      border-right: 8px solid #AAAAAA; }
    .reactDaterangePicker__arrow--next {
      left: 11px;
      border-left: 8px solid #AAAAAA;
      border-right: 8px solid transparent; }
  .reactDaterangePicker__month {
    width: 230px;
    color: #333;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 5px 5px; }
  .reactDaterangePicker__monthHeader {
    position: relative;
    text-align: center;
    background: #e4e4e4;
    font-size: 15px;
    color: #737373;
    height: 35px;
    line-height: 35px; }
  .reactDaterangePicker__monthHeaderLabel {
    display: inline-block;
    position: relative; }
  .reactDaterangePicker__monthHeaderSelect {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 5;
    margin: 0;
    left: 0;
    top: 0;
    opacity: 0;
    background: #e4e4e4;
    border: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    height: 100%; }
  .reactDaterangePicker__monthDates {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin: 0; }
  .reactDaterangePicker__weekdayHeading, .reactDaterangePicker__date {
    width: 14.28571%;
    padding: 0;
    text-align: center;
    font-size: 11px;
    line-height: 25px; }
  .reactDaterangePicker__weekdayHeading {
    color: #fff;
    background: #4da3a2;
    border: 1px solid #4da3a2;
    font-weight: normal; }
    .reactDaterangePicker__weekdayHeading abbr[title] {
      text-decoration: none;
      color: #fff;
      font-size: inherit;
      cursor: pointer;
      border-bottom-width: 0; }
  .reactDaterangePicker__date--is-blocked, .reactDaterangePicker__halfDay--is-blocked {
    background-color: #AAAAAA; }
  .reactDaterangePicker__date--is-unavailable, .reactDaterangePicker__halfDay--is-unavailable {
    background-color: #AAAAAA; }
  .reactDaterangePicker__date--is-available, .reactDaterangePicker__halfDay--is-available {
    background-color: #D0E7DB; }
  .reactDaterangePicker__date--is-enquire, .reactDaterangePicker__halfDay--is-enquire {
    background-color: #FFFBCB; }
  .reactDaterangePicker__date--is-selected, .reactDaterangePicker__halfDay--is-selected {
    background-color: #ff2558; }
  .reactDaterangePicker__date--is-highlighted, .reactDaterangePicker__halfDay--is-highlighted {
    background-color: yellow; }
  .reactDaterangePicker__date--is-disabled, .reactDaterangePicker__halfDay--is-disabled {
    cursor: default;
    color: #ccc;
    background: #eee; }
  .reactDaterangePicker__date--is-inOtherMonth, .reactDaterangePicker__halfDay--is-inOtherMonth {
    color: #ccc;
    background: #FFFFFF; }
  .reactDaterangePicker__date {
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
  .reactDaterangePicker__halfDay {
    position: absolute;
    top: -50px;
    bottom: -50px; }
    .reactDaterangePicker__halfDay--am {
      left: -50px;
      right: -50px; }
    .reactDaterangePicker__halfDay--pm {
      left: 66%;
      right: -50px;
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }
  .reactDaterangePicker__dateLabel {
    display: block;
    z-index: 1;
    width: 100%;
    text-align: center;
    position: relative; }
