$ofs-pink: #ff2558;
$ofs-red: #d80033;
$arrow-size: 6px;

body {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
  letter-spacing: 1.2px;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  color: $ofs-pink;
}

.header {
  margin-top: 50px;

  &__logo {
    display: block;
    margin: 0 auto;
    width: 200px;
  }

  &__title {
    margin-bottom: 3rem;
    text-align: center;
  }
}

input {
  padding: 5px 10px;
  width: 43%;

  &:last-child {
    float: right;
  }
}

.react-calendars {
  margin-bottom: 20px;
}

.code-snippet {
  margin-top: 1rem;

  &__arrow {
    display: inline-block;
    height: 0;
    width: 0;

    &--right {
      border: $arrow-size solid transparent;
      border-left-color: #aaa;
    }

    &--up {
      border: $arrow-size solid transparent;
      border-bottom-color: #aaa;
      margin-bottom: 3px;
      margin-right: 6px;
    }
  }

  &__toggle-button {
    color: $ofs-pink;
    text-decoration: none;

    &:hover {
      color: $ofs-red;
    }
  }
}

.footer {
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 0;

  &__links {
    text-align: center;
  }

  &__link {
    color: $ofs-pink;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
  }
}

.ofs-credit {
  margin-bottom: 1rem;

  &__text {
    color: #999;
    margin: 0 0 .5rem;
    text-align: center;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}

.features {
  overflow: hidden;

  &__point {
    font-weight: 200;
    margin-bottom: .5rem;
  }
}

.install {
  overflow: hidden;
}

.examples {
  overflow: hidden;
}

.example {
  margin-bottom: 1rem;
  overflow: hidden;

  h4 {
    margin-top: 0;
  }
}

.singleDateRange {
  .DateRangePicker {
    float: left;
    width: 50%;
  }

  .quickSelection {
    float: right;
    width: 50%;
    padding-top: 75px;

    &__selection {
      width: 100px;
      padding: 6px;
      margin: 0 auto 15px;
      display: block;
      float:none;
    }
  }
}

.rangeDateContainer {
  .quickSelection {
    padding-top: 10px;
  }
}
