$ofs-pink: #ff2558;

body {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 16px;
    width: 900px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-weight: lighter;
    letter-spacing: 1.2px;
    text-rendering: optimizeLegibility;
}

.header {
    margin-top: 50px;

    &__logo {
        width: 200px;
        margin: 0 auto;
        display: block;
    }

    &__title {
        text-align: center;
        margin-bottom: 3rem;
    }
}

.example {
    width: 540px;
    margin: 0 auto;
    overflow: hidden;
}

input {
    padding: 5px 10px;
    width: 43%;

    &:last-child {
        float: right;
    }
}

.react-calendars {
    margin-bottom: 20px;
}

.footer {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #ccc;

    &__links {
        text-align: center;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
        color: #999;
    }
}

.ofs-credit {
    margin-bottom: 1rem;

    &__text {
        text-align: center;
        margin: 0;
        color: #999;
        margin-bottom: 0.5rem;
    }

    &__logo {
        display: block;
        width: 200px;
        margin: 0 auto;
    }
}
