$arrow-size: 8px;
$selection-radius: 5px;
$selection-margin: 5px;

.reactDaterangePicker {
  display: inline-block;
  position: relative;
  padding: 0 30px;
  margin-bottom: 10px;
  //user-select: none;

  &__pagination {
    display: block;
    cursor: pointer;
    position: absolute;
    outline: none;
    border: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-bottom: 5px;
    width: 30px;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &:hover {
      background-color: #CCC;
    }
  }

  &__arrow {
    position: absolute;
    top: 48%;
    width: 0;
    height: 0;
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;

    &--previous {
      right: 30px / 2 - ($arrow-size / 2);
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid #AAAAAA;
    }

    &--next {
      left: 30px / 2 - ($arrow-size / 2);
      border-left: $arrow-size solid #AAAAAA;
      border-right: $arrow-size solid transparent;
    }
  }

  &__month {
    width: 275px;
    color: #333;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 20px;
    display: inline-block;
  }

  &__monthHeader {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    height: 35px;
    line-height: 35px;
  }

  &__monthHeaderLabel {
    display: inline-block;
    position: relative;
  }

  &__monthHeaderSelect {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 5;
    margin: 0;
    left: 0;
    top: 0;
    opacity: 0;
    background: #e4e4e4;
    border: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  &__monthDates {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin: 0;
  }

  &__weekdayHeading,
  &__date {
    width: 14.285714285714286%;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    line-height: 1;
  }

  &__weekdayHeading {
    color: #000;
    font-weight: bold;

    abbr[title] {
      text-decoration: none;
      color: #000;
      font-size: inherit;
      cursor: pointer;
      border-bottom-width: 0;
    }
  }

  &__date {
    &--is-inSelection {
      color: #fff;
    }
  }

  &__date,
  &__halfDay {
    &--is-blocked {
      background-color: #AAAAAA;
    }

    &--is-unavailable {
      background-color: #AAAAAA;
    }

    &--is-available {
      background-color: #D0E7DB;
    }

    &--is-enquire {
      background-color: #FFFBCB;
    }

    &--is-selected {
      background-color: #ff2558;
    }

    &--is-highlighted {
      background-color: yellow;
    }

    &--is-disabled {
      cursor: default;
      color: #ccc;
      background: #eee;
    }

    &--is-inOtherMonth {
      color: #ccc;
      background: #FFFFFF;
    }
  }

  &__date {
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  &__halfDateStates {
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    transform: rotate(30deg);
  }

  &__fullDateStates {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__halfDay {
    position: absolute;
    top: 0;
    bottom: 0;

    &--am {
      left: 0;
      right: 50%;
    }

    &--pm {
      left: 50%;
      right: 0;
    }
  }

  &__dateLabel {
    display: block;
    z-index: 1;
    width: 100%;
    text-align: center;
    position: relative;
  }

  &__selection {
    position: absolute;
    top: $selection-margin;
    bottom: $selection-margin;
    left: 0;
    right: 0;
    background-color: #ed5434;
    border: 1px solid darken(#ed5434, 5);

    &--start {
      left: $selection-margin;
      border-top-left-radius: $selection-radius;
      border-bottom-left-radius: $selection-radius;
      border-right-width: 0;
    }

    &--end {
      right: $selection-margin;
      border-top-right-radius: $selection-radius;
      border-bottom-right-radius: $selection-radius;
      border-left-width: 0;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      left: $selection-margin;
      right: $selection-margin;
      border-radius: $selection-radius;
    }
  }

  &__highlight {
    position: absolute;
    top: $selection-margin;
    bottom: $selection-margin;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);

    &--start {
      left: $selection-margin;
      border-top-left-radius: $selection-radius;
      border-bottom-left-radius: $selection-radius;
      border-right-width: 0;
    }

    &--end {
      right: $selection-margin;
      border-top-right-radius: $selection-radius;
      border-bottom-right-radius: $selection-radius;
      border-left-width: 0;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      left: $selection-margin;
      right: $selection-margin;
      border-radius: $selection-radius;
    }
  }
}